/*Custom properties root = html con + especificidade
-- Aqui metemos as variables que usamos
*/
:root {
    --branco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #757575;
}

/*
 html e body font-size fai que :
 1rem = 10px 
*/
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
    /* font-family: 'Audiowide', cursive; */
    font-family: 'Krub', sans-serif;
}

.titulo span {
    font-size: 2rem;
}