/*Custom properties root = html con + especifici


dade
-- Aqui metemos as variables que usamos
*/
:root {
    --branco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #757575;
}

/*
 html e body font-size fai que :
 1rem = 10px 
*/
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
    /* font-family: 'Audiowide', cursive; */
    font-family: 'Krub', sans-serif;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin: 0rem auto;
}

.nav-bg {
    background-color: var(--secundario);
    
}
   
.navegacion {
    padding: 1rem;
    display:flex;
    justify-content: space-between;
}

.navegacion a {
    text-decoration:none;
    color: var(--branco);
}
.navegacion a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
    text-decoration:none;
}

.contacto {
    text-decoration: none;
}